<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a nuestra página</title>
    <link rel="stylesheet" href="../Styles/Logout.css">
</head>
<body>
    <header>
        <h1>Bienvenido a nuestra página</h1>
    </header>
    <div class="container row" >
        <p class="col-6"><span>Cierre de sesion</span>
        <input type="button" value="Logout" id="btnlogout">
        </p>
        <p class="col-6">
            <button id="deleteAccount" >Eliminar cuenta</button>

        </p>
    </div>
    <script type="module" src="../Controllers/index.js"></script>
</body>
</html>
