<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a nuestra página</title>
    <link rel="stylesheet" href="../Styles/Logout.css">
</head>
<body>
    <header>
        <h1>Bienvenido a nuestra página</h1>
    </header>
    <div class="container">
        <p><span>Cierre de sesion</span></p>
        <input type="button" value="Logout" id="btnlogout">
    </div>
    <script type="module" src="../Controllers/index.js"></script>
</body>
</html>
