<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title>
    <link rel="stylesheet" href="../Styles/style_recuperar.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="../Resources/images/logo.jpg" alt="Logo">
        <h1>Recuperar Contraseña</h1>
        <div>
            <label >Nombre de Usuario</label>
            <input  id="emailRecovery" type="text" placeholder="Ingrese Nombre de Usuario">
            <input type="submit" id="btnRecover" value="Recuperar" href="../index.html" >
            <p id="error-message" style="color: red;"></p>
            <button>
                <a href="../index.html" class="Atras">Atras</a>
            </button>
        </div>
    </div>
    <script type="module" src="../Controllers/authentication.js"></script>
</body>
</html>