<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../Styles/style.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="../Resources/images/logo.jpg" alt="Logo">
        <h1>Registrar</h1>
        <div>
            <label >Nombre de Usuario</label>
            <input id="edtusername" type="text" placeholder="Ingrese Nombre de Usuario">
            <label >Contraseña</label>
            <input id="edtpassword" type="password" placeholder="Ingrese la Contraseña">
            <input type="submit" id="btnadd" value="Registrar" href="../index.html">
            <a href="../index.html">Atras</a><br>
            
        </div>
    </div>
    <script type="module" src="../Controllers/user_register.js"></script>
</body>
</html>